{% extends "network/layout.html" %}
{% load static %}


{% block body %}
{% if user.is_authenticated %}

{% endif %}
<script src="{% static 'network/index.js' %}"></script>

    {% if user.is_authenticated %}
    <div id="post-form" class="post-form">
        <!-- <form action="" method="post">
            {% csrf_token %}
            {{ post_form.body }}
            
        </form> -->
        <form action="" method="post">
            {% csrf_token %}
            {{ post_form.body }}
            <!-- <textarea class="form-control" id="post-body" placeholder="Write your post here!"></textarea> -->
            <input id="publish" type="submit" class="btn btn-primary post-form-button" value="Publish"/>
        </form>

    </div>
    {% endif %}

    {% include "network/posts.html" %}

    <hr>

    <!--Javascript Rendered Posts -->
        <!-- <div id="js"></div> -->


{% endblock %}