{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<script src="{% static 'network/index.js' %}"></script>
    <h1><span id="username">{{profile.username}}</span>'s Profile</h1>

    <div>{{ following.count }} Following  | {{ followers.count }} Followers </div>
    
    {% if request.user != profile %}
        {% if is_following %}
        <button id="btn-follow" class="btn btn-secondary" type="submit" name="unfollow" value="Unfollow">Unfollow</button>
        {% else %}
        <button id="btn-follow" class="btn btn-primary" type="submit" name="follow" value="Follow">Follow</button>
        {% endif %}
    {% endif %}

    <div><h1>Posts</h1></div>
    {% for post in posts %}
        <div class="post-wrapper">
            <a href="{%url 'profile' post.author.username %}">{{ post.author }}</a> says {{ post.body }} on {{ post.timestamp }}
        </div>
    {% empty %}
        <div>This user has not made any quacks</div>
    {% endfor %}
    <!-- {% include "network/index.html" %} -->

{% endblock %}