*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.block-body {
    width: 100%;
    max-width: 500px;

    margin: 0 auto;
    padding: 0 1rem;
}

.btn + .btn {
    margin-left: .5rem;
}

.post-form {
    margin: 1rem auto;
    text-align: right;
}

.post-form-button {
    margin-top: .7rem;
}

.post-wrapper + .post-wrapper {
    margin-top: .5rem;
}

.post-wrapper {
    border: 1px solid magenta;
    display: flex;
    flex-direction: row;
}

.post-wrapper > div {
    display: flex;
    flex-direction: column;
}

.post-profile-photo {
    max-width: 50px;

}

.post-profile-photo img {
    border-radius: 100%;

}

.post-content {
    border: 1px solid dodgerblue;
    padding: 0 .25rem;
    width: 100%;
}

.post-head {
    display: flex;
    justify-content: space-between;
}

.post-footer {
    display: flex;
    margin-top: 1rem;
}

.post-likes {
    margin-left: .5rem;
}

.heart {
    color: red;
}
